@import url('https://fonts.googleapis.com/css?family=Charm');
  body {background: #86d6ca; color: #400080;
        font-family: Charm; curisive;
        margin: 0px;}
  header > h1 {margin: 10px 20px 10px 50px;}
  header > h3 {margin: 10px 1px 10px 50px;}

#main-header {border-bottom: 2px solid #400080;}

body > header > h3 {color: #26004d;}

#information {width: 800px;  margin:auto;}
