@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 0;
}

body h1 {
    font-weight: 300;
    margin: 20px 30px;
}

#main-header {
    border-bottom: 2px solid #000;
    width:100%;
    top:0px;
}

/*#main-header:before {*/
/*    content: "";*/
/*    display: block;*/
/*    width:10px;*/
/*    height:40px;*/
/*    background:#000;*/
/*    position: absolute;*/
/*}*/

#top-stories {
    width: 800px;
    margin: auto;
}

article {
    width: 220px;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0,0,0,.3);
    transition: box-shadow 500ms; background: 5s;
}

article:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,.7);
    background: #aaa;
}

article img {
    width: 100%;
    height: 100px;
}

.article-image {
    height:200px;
    width:100%;
    background-size: cover !important;
    background-position: center !important;
}

a:hover{
    color: #28a2d6;
}

.my-input, .my-textarea {
    display:block;
    width: 95%;
    margin:10px;
    padding: 10px 20px;
    resize:none;
}

.my-input:focus{
    background: #a4d6cb;
    color: #032329;
    outline:none;
}

article:active{
    opacity: 0.4;
}

#go-button{
    margin:10px;
}

#text{
    margin: 10px;
}
